{% load i18n %}
{% autoescape off %}
{% blocktranslate %}Вы получили это письмо, потому что запросили сброс пароля для вашей учётной записи на {{ site_name }}.{% endblocktranslate %}

{% translate "Пожалуйста, перейдите по следующей ссылке и выберите новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'core:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо." %}

{% translate "Спасибо, что используете наш сайт!" %}
{% blocktranslate %}Команда {{ site_name }}{% endblocktranslate %}
{% endautoescape %}
